Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/autoregen.sh
/build-aux/config.guess /config.h
/config.h.in
/config.log
/config.status
/build-aux/config.sub
/configure
/build-aux/depcomp
/doc/guile-flac.info
/build-aux/texinfo.tex
/env
/guile-taglib.pc
/guile-taglib/.deps
/guile-taglib/.libs
*.la
*.lo
*.o
/build-aux/install-sh
/libtool
/build-aux/ltmain.sh
/build-aux/missing
/stamp-h1
/config.h.in~
/build-aux/
*.cxx
/taglib/*.scm
/config.h
/.DS_Store
/taglib/.DS_Store
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/pkg.m4
